<link rel="stylesheet" type="text/css" href="css/game.css">

<div id="wrapper" style="
	position:relative;
	background-color: yellow;
	width: calc(100% - 50px);
	height: calc(100% - 500px);
	width: 860px;
	height: 1200px;">
	<canvas id="my-canvas" class="canvas"></canvas>
</div>
<p class="menu_indicator" id="current_turn">Current turn:</p>

<div class="toolbar">
	<div id="brush_cont" class="button_container">
		<a class="menu_button" id="brush"><img id="brush_img" src="icons_spin/brush.png"width="50" height="50"></a>
	</div>
	<div id="pinch_cont" class="button_container">
		<a class="menu_button" id="pinch"><img id="pinch_img" src="icons_spin/pinch.png" width="50" height="50"></a>
	</div>
	<div id="coin_cont" class="button_container">
		<a class="menu_button" id="coin"><img src="icons_spin/coin.gif"width="50" height="50"></a>
	</div>
	<div id="undo_cont" class="button_container">
		<a class="menu_button" id="undo"><img src="icons_spin/undo.png" width="50" height="50"></a>
	</div>
	<div id="confirm_cont" class="button_container">
		<a class="menu_button" id="confirm"><img src="icons_spin/ok.png" width="50" height="50"></a>
	</div>
</div>



		<div class="fixed-action-btn">
			<a class="btn-floating btn black">
				<i class="large material-icons">settings</i>
			</a>
			<ul>
				<li><a class="btn-floating black"><i class="material-icons">close</i></a></li>
				<li><a class="btn-floating black"><i class="material-icons">people</i></a></li>
				<li><a class="btn-floating black"><i class="material-icons">fullscreen</i></a></li>
			</ul>
		</div>


<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>