<html>
	<link rel="stylesheet" href="css/login.css">
	<div class="main_menu">
		<div class="white_box">
			<p class="sign" align="center">Cardboard game!</p>
			<form class="form1">
				<input id="name" class="text_input_box" type="text" align="center" placeholder="NAME">
				<a class="submit_button" align="center" id="new_game">NEW GAME</a>	
				<p class="or" align="center">or</p>
				<a class="submit_button" align="center" id="join_game">JOIN GAME</a>
			</form>
		</div>
	</div>
</html>