<html>
<link rel="stylesheet" href="css/login.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
<div class="main_menu">
	<div class="white_box">
		<p class="sign" id="players_menu_title" align="center">!</p>
		<div align="center">
			<a class='dropdown-trigger btn blue' data-target='dropdown1'>Kick players out</a>
			<ul id='dropdown1' class='dropdown-content'></ul>
		</div>
		<div style="padding-top: 100px">
			<a class="submit_button" align="center" href="#/game">BACK TO GAME</a>
		</div>
	</div>
</div>
</html>