<html>
	<link rel="stylesheet" href="css/login.css">
	<div class="main_menu">
		<div class="white_box">
			<p class="sign" id="title" align="center">Carboard game!</p>
			<p id="player_label_1" class="sign_small" align="center">Player 1</p>
			<p id="player_label_2" class="sign_small" align="center">Player 2</p>
			<p id="player_label_3" class="sign_small" align="center">Player 3</p>
			<p id="player_label_4" class="sign_small" align="center">Player 4</p>
			<p id="player_label_5" class="sign_small" align="center">Player 5</p>
			<p id="player_label_6" class="sign_small" align="center">Player 6</p>
			<p id="player_label_6" class="sign_small" align="center">Player 7</p>
			<p id="player_label_6" class="sign_small" align="center">Player 8</p>
			<p id="player_label_6" class="sign_small" align="center">Player 9</p>
			<p id="player_label_6" class="sign_small" align="center">Player 10</p>
			<p id="" class="sign_small" align="center">  </p>
			<a class="submit_button" align="center" id="everybody_in">EVERYBODY'S IN!</a>
		</div>		
	</div>
</html>